.portada-galery {
  border-radius: 40px;
  width: 90%;
  height: 600px;
  margin: 10px 0 50px 0;
  overflow: hidden;
}

.img-galery-portada {
  width: 100%;
  height: 100%;
  opacity: 0.8;
  object-fit: cover;
  object-position: center;
}

.section-galery {
  display: flex;
  flex-wrap: wrap;
}

.column-section {
  flex-basis: calc(50% - 20px);
  flex-grow: 1;
}

.title-img-galery {
  color: white;
  margin-top: 50px;
  text-shadow: 1px 2px 15px black;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  width: 60%;
}

.div-img-galery {
  border-radius: 40px;
  width: 90%;
  height: 300px;
  margin: 10px 0 50px 0;
  border: 2px solid black;
  overflow: hidden;
}

.img-galery {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.container-comentarios {
  width: 600px;
  margin: 0 auto;
}

.comentarios {
  margin: 20px 0;
  padding: 10px;
  background-color: #f6aeff;
  opacity: 0.9;
  border: 2px solid #ccc;
  border-radius: 5px;
}

.campo-name {
  margin-bottom: 10px;
}

.campo-comentario {
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ff00b3;
  opacity: 0.78;
  padding: 10px;
}

.button-enviar, .enviar-form {
  background-color: #ff00b3;
  color: white;
  text-shadow: 1px 2px 10px #000000;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.section-header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.main-discografia-grid {
  display: grid;
  grid-template-rows: 150px 1fr;
  grid-template-columns: 50% 50%;
  grid-template-areas: "title title" "section-izq section-der";
}

.title-discografia {
  grid-area: title;
}

.section-discografia-izq {
  grid-area: section-izq;
  display: flex;
  flex-direction: column;
}

.section-discografia-der {
  grid-area: section-der;
  display: flex;
  flex-direction: column;
}

.container-spotify {
  margin: 15px 0 40px 0;
}

@media screen and (max-width: 991px) {
  .main-discografia-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.container-form {
  display: flex;
  justify-content: center;
  background-color: rgb(73, 73, 73);
  opacity: 0.8;
}

label {
  color: aliceblue;
  text-shadow: 2px 2px 10px rgb(255, 0, 140);
}

.container-element-form {
  margin: 20px;
}

.bdr-2-b {
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px;
}

.enviar-form {
  color: white;
}

@font-face {
  font-family: "The Morille";
  src: url(./../fonts/The\ Morille.otf);
}
h2 {
  text-align: center;
  color: #ffffff;
  text-decoration: double;
  text-shadow: 2px 2px 5px #b60064;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./../imgs/imagen-de-muestra-5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.container-grid {
  display: grid;
  grid-template-rows: 150px 1fr 1fr 130px;
  grid-template-columns: 15% auto 10%;
  grid-template-areas: "nav header header" "nav main main" "nav main main" "footer footer footer";
}

header {
  grid-area: header;
  padding-top: 10px;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}
header h1 {
  color: rgb(255, 255, 255);
  text-shadow: 5px 2px 25px rgb(255, 4, 180), 5px 2px 50px rgb(255, 4, 180);
  font-family: The Morille;
  font-size: 60px;
  text-align: center;
}

nav {
  grid-area: nav;
  width: 100%;
  margin: 20px 0 0 20px;
}
nav .logo-banda {
  width: 100px;
  height: 100px;
  margin: 5px;
}
nav ul {
  list-style: none;
}
nav ul li {
  margin-top: 30px;
}
nav a {
  font-family: fantasy;
  text-decoration: none;
  color: white;
  font-size: 20px;
}
nav label {
  display: none;
}
nav #burger-menu {
  display: none;
}

@media screen and (min-width: 991px) {
  nav a:hover {
    text-shadow: 2px 0 10px rgb(255, 0, 128), 2px 0 25px rgb(255, 0, 128), 2px 0 50px rgb(255, 0, 128);
    font-size: 25px;
    transition: 0.7s;
    margin: 20px;
  }
}
main {
  grid-area: main;
  margin: 10px;
  display: flex;
  flex-direction: column;
}
main .section-main-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .neon-ligth-effect {
  animation: neon-on-off 3s infinite;
}
@keyframes neon-on-off {
  0% {
    color: rgb(48, 48, 48);
    text-shadow: 2px 2px 20px rgb(54, 54, 54);
    animation: neon-on-off 3s infinite;
  }
  100% {
    color: rgb(255, 207, 207);
    text-shadow: 0 0 15px red, 0 0 30px red, 0 0 60px red, 0 0 120px red;
    transition-delay: 0.2s;
  }
}
main .parrafo-section-inicio {
  background-color: black;
  opacity: 0.8;
  border-radius: 15px;
  padding: 5px;
  width: 90%;
  height: 70%;
  color: rgb(255, 255, 255);
  font-size: 20px;
  text-shadow: 1px 1px 10px rgb(255, 255, 255), 1px 1px 20px rgb(255, 0, 200), 1px 1px 40px rgb(0, 238, 255);
}
main .container-videos-inicio {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}
main .title-videos {
  font-size: medium;
  text-shadow: 2px 2px 10px black;
  background-color: aliceblue;
}
main .video-border {
  border: solid 3px white;
  border-radius: 5px;
  margin: 10px;
}

footer {
  grid-area: footer;
  display: flex;
  border: solid 3px black;
  background-color: white;
  opacity: 0.7;
  border-radius: 15px;
  justify-content: space-between;
  align-items: center;
}
footer p {
  margin: 20px;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-family: fantasy;
}
footer ul {
  margin: 0;
}
footer ul li {
  display: inline-block;
}
footer .logo-ancho {
  width: 40px;
}

@media screen and (max-width: 680px) {
  .container-grid {
    height: 100vh;
    grid-template-rows: auto;
    grid-template-columns: 100%;
    grid-template-areas: "header" "nav" "main" "footer";
  }
  body {
    background-repeat: repeat;
  }
  nav {
    display: flex;
    flex-direction: column;
  }
  nav a {
    text-shadow: 2px 0 10px rgb(255, 0, 128), 2px 0 25px rgb(255, 0, 128), 2px 0 50px rgb(255, 0, 128);
  }
  nav label {
    display: block;
  }
  #burger-menu:checked ~ ul {
    display: block;
    animation-name: display-from-left-to-right;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }
  @keyframes display-from-left-to-right {
    0% {
      opacity: 0;
      margin-left: 0;
    }
    100% {
      opacity: 1;
      margin-left: 10px;
    }
  }
  .mq-zise {
    width: 100%;
    margin: 5px;
  }
  .mq-d-none {
    display: none;
  }
  .section-galery {
    flex-direction: column;
  }
  .w-my-style-carrusel {
    width: 80%;
    margin: 5px;
  }
  footer {
    flex-direction: column;
    align-items: center;
  }
}

/*# sourceMappingURL=style.css.map */
