.container-form {
    display: flex;
    background-color: #494949;
    opacity: 0.8;
    align-items: flex-start;
    flex-direction: column;
}

label {
    color: #f0f8ff;
    text-shadow: 2px 2px 10px #ff008c;
    margin: 10px;
}

.bdr-2-b {
    border: 2px solid #000000;
    border-radius: 10px;
    margin: 10px;
}

.enviar-form {
    color: #ffffff;
    @extend .button-enviar;
    margin: 10px;
}