.container-form {
    display: flex;
    justify-content: center;
    background-color: rgb(73, 73, 73);
    opacity: 0.8;
}

label {
    color: aliceblue;
    text-shadow: 2px 2px 10px rgb(255, 0, 140);
}

.container-element-form {
    margin: 20px;
}

.bdr-2-b {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
}

.enviar-form {
    color: white;
    @extend .button-enviar;
}